<!DOCTYPE html>
<html>
<head>
    <title>Hug</title>
    <style>
        body {
            background: pink;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-family: Arial;
            text-align: center;
            margin: 0;
        }

        .content {
            font-size: 5em;
            color: #c2185b;
        }

        .emoji {
            font-size: 10em;
            margin-top: 30px;
        }
    </style>
</head>
<body>

<div class="content">
    Hug paniko vavaee
    <div class="emoji">🫂</div>
</div>

<script>
setTimeout(() => {
    window.location.href = "/final";
}, 2000);
</script>

</body>
</html>
